In [1]:
import re
import pandas as pd

In [10]:
#import csv

food_waste = pd.read_csv('data/ReFED_US_State_Food_Surplus_Detail.csv', low_memory=False)

food_waste.head()

,"Source: Calculated by ReFED based on data from various sources. See https://insights.refed.com/methodology for more information. Data last updated January 23, 2021",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,year,state,sector,sub_sector,sub_sector_category,food_type,food_category,tons_supply,tons_surplus,us_dollars_surplus,...,tons_incineration,tons_land_application,tons_landfilled,tons_dumping,tons_sewer,upstream_mtco2e_footprint,downstream_mtco2e_footprint,total_mtco2e_footprint,gallons_water_footprint,meals_wasted
3,2019,Virginia,Farm,Not Applicable,Not Applicable,Dry Goods,Nuts And Seeds,57547.42482,4589.096821,2010057.662,...,45.26680604,0,223.5569251,397.9757359,0,10188.04249,-5581.310193,4606.7323,2445454228,7138270.098
4,2019,California,Farm,Not Applicable,Not Applicable,Dry Goods,Nuts And Seeds,3144953.994,940275.7739,3813333819,...,306.9918576,0,10884.25695,16567.90292,0,2206353.376,-2046480.206,159873.1692,5.30E+11,1545885418

In [11]:
#drop two NAN rows and turn third row into column names

food_waste = food_waste.drop([0,1])
food_waste.columns = food_waste.iloc[0]
food_waste

2,year,state,sector,sub_sector,sub_sector_category,food_type,food_category,tons_supply,tons_surplus,us_dollars_surplus,...,tons_incineration,tons_land_application,tons_landfilled,tons_dumping,tons_sewer,upstream_mtco2e_footprint,downstream_mtco2e_footprint,total_mtco2e_footprint,gallons_water_footprint,meals_wasted
2,year,state,sector,sub_sector,sub_sector_category,food_type,food_category,tons_supply,tons_surplus,us_dollars_surplus,...,tons_incineration,tons_land_application,tons_landfilled,tons_dumping,tons_sewer,upstream_mtco2e_footprint,downstream_mtco2e_footprint,total_mtco2e_footprint,gallons_water_footprint,meals_wasted
3,2019,Virginia,Farm,Not Applicable,Not Applicable,Dry Goods,Nuts And Seeds,57547.42482,4589.096821,2010057.662,...,45.26680604,0,223.5569251,397.9757359,0,10188.04249,-5581.310193,4606.7323,2445454228,7138270.098
4,2019,California,Farm,Not Applicable,Not Applicable,Dry Goods,Nuts And Seeds,3144953.994,940275.7739,3813333819,...,306.9918576,0,10884.25695,16567.90292,0,2206353.376,-2046480.206,159873.1692,5.30E+11,1545885418
5,2019,California,Farm,Not Applicable,Not Applicable,Dry Goods,"Pickles, Olives, And Pickled Vegetables",171133.4902,3633.490173,2824751.184,...,0,0,0,0,0,8643.11936,-8809.766008,-166.6466477,2074623540,6055816.957
6,2019,Arizona,Farm,Not Applicable,Not Applicable,Dry Goods,Nuts And Seeds,24702.53246,7385.542959,27917352.38,...,0,0,87.9034121,130.1351817,0,17330.14727,-16070.64487,1259.502405,4159786529,12142398.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
425010,2010,Georgia,Retail,Not Applicable,Not Applicable,Ready-to-drink Beverages,Sparkling Juice,9331.54519,192.2298309,183377.8389,...,0,2.9226155,84.6188872,0,0,400.291109,0.80947353,401.1005825,2373659.236,240734.6485
425011,2010,Wyoming,Retail,Not Applicable,Not Applicable,Ready-to-drink Beverages,Sparkling Juice,688.9984595,14.19336827,15422.74086,...,0,0.215792512,6.24787018,0,0,29.55565791,0.059767809,29.61542572,175260.1015,17774.74133
425012,2010,New Mexico,Retail,Not Applicable,Not Applicable,Ready-to-drink Beverages,Shakes And Smoothies,2072.024541,42.68370554,201468.2524,...,0,0.648952656,18.78921522,0,0,88.88270745,0.179739688,89.06244713,527059.5692,53453.96602
425013,2010,Nebraska,Retail,Not Applicable,Not Applicable,Ready-to-drink Beverages,Shakes And Smoothies,1761.548071,36.28789027,171279.8085,...,0,0.55171224,15.97380011,0,0,75.56433758,0.152807119,75.7171447,448083.8664,45444.3125
425014,2010,Tennessee,Retail,Not Applicable,Not Applicable,Ready-to-drink Beverages,Sparkling Juice,5814.979763,119.7885831,107511.8291,...,0,1.821236424,52.73050782,0,0,249.442579,0.504425805,249.9470048,1479152.717,150014.5025

In [12]:
#drop row with column names, and only keep important rows

food_waste = food_waste.drop([2])
food_waste = food_waste[['year','state','sector','tons_surplus','us_dollars_surplus','tons_waste']]
food_waste

2       year       state  sector tons_surplus us_dollars_surplus   tons_waste
3       2019    Virginia    Farm  4589.096821        2010057.662  3014.224288
4       2019  California    Farm  940275.7739         3813333819  874713.1456
5       2019  California    Farm  3633.490173        2824751.184  3633.490173
6       2019     Arizona    Farm  7385.542959        27917352.38  6870.571052
7       2019    Oklahoma    Farm  7150.297501        12355862.89   6029.05673
...      ...         ...     ...          ...                ...          ...
425010  2010     Georgia  Retail  192.2298309        183377.8389   87.5415027
425011  2010     Wyoming  Retail  14.19336827        15422.74086  6.463662692
425012  2010  New Mexico  Retail  42.68370554        201468.2524  19.43816787
425013  2010    Nebraska  Retail  36.28789027        171279.8085  16.52551234
425014  2010   Tennessee  Retail  119.7885831        107511.8291  54.55174424

[425012 rows x 6 columns]

In [46]:
#filter to 2018 only

food_waste_18 = food_waste[food_waste['year'] == '2018']
food_waste_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42437 entries, 42343 to 84779
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                42437 non-null  object
 1   state               42437 non-null  object
 2   sector              42437 non-null  object
 3   tons_surplus        42437 non-null  object
 4   us_dollars_surplus  42437 non-null  object
 5   tons_waste          42437 non-null  object
dtypes: object(6)
memory usage: 2.3+ MB

In [47]:
#change datatypes hosp_stay = hosp_stay.astype({'Attending Provider NPI':object})

food_waste_18= food_waste_18.astype({'tons_surplus':float,'us_dollars_surplus':float,'tons_waste':float})

In [48]:
food_waste_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42437 entries, 42343 to 84779
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   year                42437 non-null  object
 1   state               42437 non-null  object
 2   sector              42437 non-null  object
 3   tons_surplus        42437 non-null  float64
 4   us_dollars_surplus  42437 non-null  float64
 5   tons_waste          42437 non-null  float64
dtypes: float64(3), object(3)
memory usage: 2.3+ MB

In [49]:
#group by state, sum the other three columns

food_waste_18 = food_waste_18.groupby('state').sum().reset_index()
food_waste_18.head()

2       state  tons_surplus  us_dollars_surplus    tons_waste
0     Alabama  8.904229e+05        5.468013e+09  6.109645e+05
1      Alaska  1.252413e+05        8.870178e+08  7.964727e+04
2     Arizona  2.218258e+06        8.748133e+09  1.732080e+06
3    Arkansas  5.309219e+05        3.052105e+09  3.450123e+05
4  California  1.455144e+07        5.054886e+10  1.029196e+07

In [50]:
food_waste_18['dollar_per_ton'] = food_waste_18['us_dollars_surplus']/food_waste_18['tons_surplus']

In [52]:
food_waste_18['us_dollars_waste'] = food_waste_18['tons_waste']*food_waste_18['dollar_per_ton']

In [56]:
food_waste_18

2,state,tons_surplus,us_dollars_surplus,tons_waste,dollar_per_ton,us_dollars_waste
0,Alabama,8.904229e+05,5.468013e+09,6.109645e+05,6140.916383,3.751882e+09
1,Alaska,1.252413e+05,8.870178e+08,7.964727e+04,7082.470188,5.640994e+08
2,Arizona,2.218258e+06,8.748133e+09,1.732080e+06,3943.695637,6.830795e+09
3,Arkansas,5.309219e+05,3.052105e+09,3.450123e+05,5748.688427,1.983368e+09
4,California,1.455144e+07,5.054886e+10,1.029196e+07,3473.805252,3.575227e+10
5,Colorado,1.293713e+06,7.879675e+09,8.585756e+05,6090.745975,5.229366e+09
6,Connecticut,6.587478e+05,4.277678e+09,3.319434e+05,6493.650558,2.155525e+09
7,Delaware,2.151239e+05,1.153536e+09,1.503946e+05,5362.190922,8.064448e+08
8,Florida,5.492243e+06,3.138456e+10,3.834782e+06,5714.342647,2.191326e+10
9,Georgia,2.473451e+06,1.308417e+10,1.722703e+06,5289.844812,9.112831e+09
10,Hawaii,2.127559e+05,1.621941e+09,1.532860e+05,7623.482697,1.168574e+09
11,Idaho,8.593168e+05,1.757622e+09,5.196166e+05,2045.371940,1.062809e+09
12,Illinois,2.742121e+06,1.573488e+10,1.605657e+06,5738.212961,9.213601e+09
13,Indiana,1.623217e+06,8.002620e+09,1.074285e+06,4930.098704,5.296330e+09
14,Iowa,6.977167e+05,4.047503e+09,3.860118e+05,5801.069303,2.239281e+09
15,Kansas,5.853223e+05,3.622164e+09,3.579154e+05,6188.325106,2.214897e+09
16,Kentucky,9.028875e+05,5.185666e+09,5.983006e+05,5743.424064,3.436294e+09
17,Louisiana,1.193954e+06,5.996319e+09,5.860074e+05,5022.234667,2.943067e+09
18,Maine,3.324129e+05,1.747734e+09,2.055734e+05,5257.721324,1.080847e+09
19,Maryland,1.102844e+06,7.161709e+09,7.581036e+05,6493.856529,4.923016e+09
20,Massachusetts,1.432513e+06,9.228615e+09,6.800926e+05,6442.255886,4.381330e+09
21,Michigan,2.485261e+06,1.066858e+10,1.717712e+06,4292.739959,7.373693e+09
22,Minnesota,1.693810e+06,8.106541e+09,1.068796e+06,4785.979020,5.115237e+09
23,Mississippi,5.482953e+05,3.084449e+09,3.790143e+05,5625.524894,2.132155e+09
24,Missouri,1.245277e+06,7.312253e+09,8.129492e+05,5871.990678,4.773630e+09
25,Montana,1.485546e+05,9.399216e+08,1.024280e+05,6327.112332,6.480732e+08
26,Nebraska,4.003073e+05,2.368506e+09,2.309797e+05,5916.718843,1.366642e+09
27,Nevada,6.644101e+05,4.999095e+09,4.847133e+05,7524.109849,3.647036e+09
28,New Hampshire,3.041906e+05,1.891623e+09,2.057566e+05,6218.544315,1.279507e+09
29,New Jersey,1.718649e+06,1.046019e+10,1.126097e+06,6086.283774,6.853749e+09
30,New Mexico,4.375227e+05,2.163296e+09,3.179556e+05,4944.420456,1.572106e+09
31,New York,3.328123e+06,1.853472e+10,2.292437e+06,5569.121440,1.276686e+10
32,North Carolina,2.451652e+06,1.239913e+10,1.691508e+06,5057.460714,8.554733e+09
33,North Dakota,2.563890e+05,1.033256e+09,1.499132e+05,4030.031385,6.041551e+08
34,Ohio,2.592267e+06,1.407937e+10,1.697363e+06,5431.296157,9.218883e+09
35,Oklahoma,5.265994e+05,3.729473e+09,3.826774e+05,7082.182763,2.710192e+09
36,Oregon,1.172480e+06,4.880914e+09,6.560328e+05,4162.895793,2.730996e+09
37,Pennsylvania,2.564908e+06,1.500793e+10,1.662337e+06,5851.254106,9.726755e+09
38,Rhode Island,1.524750e+05,1.016960e+09,1.040461e+05,6669.683992,6.939543e+08
39,South Carolina,1.010329e+06,5.925754e+09,6.925286e+05,5865.175201,4.061801e+09
40,South Dakota,1.986345e+05,1.019756e+09,1.352181e+05,5133.829782,6.941870e+08
41,Tennessee,1.419182e+06,8.597838e+09,8.963493e+05,6058.305331,5.430358e+09
42,Texas,6.117788e+06,3.324741e+10,4.137917e+06,5434.547630,2.248771e+10
43,Utah,6.778988e+05,2.864851e+09,4.739192e+05,4226.074964,2.002818e+09
44,Vermont,1.284821e+05,6.613562e+08,7.229308e+04,5147.459815,3.721257e+08
45,Virginia,1.806226e+06,1.125143e+10,1.254696e+06,6229.250488,7.815814e+09
46,Washington,3.456798e+06,9.234973e+09,2.233919e+06,2671.539904,5.968005e+09
47,West Virginia,2.650389e+05,1.613888e+09,1.912287e+05,6089.248266,1.164439e+09
48,Wisconsin,2.758533e+06,9.753226e+09,1.992876e+06,3535.656861,7.046125e+09
49,Wyoming,1.011002e+05,6.519594e+08,7.023854e+04,6448.645739,4.529435e+08

In [58]:
food_waste_18.to_csv('data/food_waste_18.csv')